<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/customcss/customform.css" rel="stylesheet" />
    <link href="~/customcss/dashboard.css" rel="stylesheet" />
    <link href="~/customcss/table.css" rel="stylesheet" />
    <link href="~/customcss/loadingprogress.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/34a59c0339.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>

           
 
</head>

<body>
    <div class="container-login">
        @RenderBody()
    </div>
</body>
</html>
